.hull {
  border-radius: 50%;
  height: 94%;
  left: 3%;
  opacity: 0.8;
  pointer-events: none;
  position: absolute;
  top: 3%;
  width: 94%;
  z-index: -1;
}

.hologram {
  cursor: grab;
  opacity: 1;
  pointer-events: auto;
  touch-action: none;
}

.hologram:active {
  cursor: grabbing;
}
