.main {
  margin: 0 auto;
  width: 1580px;
}

.content {
  background-color: #111111;
  border: 1px solid #4f4f4f;
  border-radius: 25px;
  color: #c5c5c5;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding: 20px;
  position: relative;
}

.selection {
  flex: 1;
  margin-top: 10px;
  overflow-x: hidden;
  padding-right: 10px;
}
.selectionHeader {
  display: flex;
}
.selectionHeader > div {
  background-color: #4f4f4f;
  cursor: pointer;
  flex: 1;
  line-height: 24px;
  text-align: center;
}
.selectionHeader > div:hover {
  background-color: #6c6c6c;
}
.selectionHeader > div:first-child {
  border-bottom-left-radius: 25px;
  margin-right: 5px;
}
.selectionHeader > div:last-child {
  border-bottom-right-radius: 25px;
  margin-left: 5px;
}
.selectionContent {
  height: 644px;
  margin-bottom: 10px;
}
.collapsed {
  display: none;
}
.selectionHeader > div.selected {
  background-color: #7a7a7a;
}

.fit {
  height: 730px;
  width: 730px;
}

.statistics {
  margin-top: 10px;
  position: relative;
}

.statistics > div:first-child {
  margin-bottom: 10px;
}
